@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900&display=swap");

.speech-container {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  background-color: rgb(160, 160, 160);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1 {
  text-align: center;
  margin-top: 200px;
}

h2 {
  text-align: center;
}

h3 {
  text-align: center;
}

p {
  text-align: center;
}

.speech-text {
  font-size: 18px;
  font-weight: 200;
  color: rgb(0, 0, 0);
}

.speech-output {
  font-size: 18px;
  font-weight: 600;
  color: rgb(13, 26, 207);
}

.start-button,
.reset-button {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.after-start {
  display: none;
}
